<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Hibernate 4 with spring 3.x -->
	<bean id="psessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dogDataSource" />
		<property name="packagesToScan" value="com.pets.dog.dao.hibernate.entity" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				 <!-- below key is important 
				 use this key = hibernate.hbm2ddl.auto not hbm2ddl.auto
				  -->
				  <prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	
	<!-- 
	        @Transactional  
	
	-->
	<tx:annotation-driven  transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="psessionFactory"></property>
	</bean>

 	<bean class="org.springframework.orm.hibernate4.HibernateExceptionTranslator" />
	 <!-- <bean id="psessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean" 
		p:dataSource-ref="dogDataSource" p:configLocation="/WEB-INF/context/hibernate.cfg.xml" 
		p:packagesToScan="com.pets.dog.dao.hibernate.entity" /> -->
	<import resource="spring-data-source.xml" />
</beans>	
		